<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>

<style>
#asso_net {
    min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
}

</style>

<div class="containerr">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div id="container1" style="text-align:center;margin-bottom: 30px;">
				<h style="color:#333333;font-size:18px;fill:#333333;">Twitter Sentiment Analysis</h>
				<br>
				<text x="1272" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="46"><tspan>Source: Twitter Inc</tspan></text>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div id="container2">
                <div id="asso_net"></div>
            </div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div id="container3" style="width:700px;"></div>
			<div id="container4"></div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div id="container4"></div>
		</div>

	</div>
</div>

<script type="text/javascript">

	var ret = [];
    var linear_type_resp = [];
    var keywords = [["Apple", "Samsung"]];
	var depths_of_keyw = [["North Korea"]];
	var ban_keywords = ['amp', 'sex', 'day']

	var fetch_network_data_from = function (src) {
	    _ret = []
	    for (var i in src) {
	        for (var keyword in src[i]) {
	            for (var idx in src[i][keyword]) {
	                if (!ban_keywords.includes(src[i][keyword][idx][0]))
	                    _ret.push([keyword, src[i][keyword][idx][0]]);//, src[i][keyword][idx][1]]);
                }
			}
		}
		return _ret
	};

	var fetch_network_score_from = function (src) {
	    _ret = {};
	    for (var i in src) {
	        for (var keyword in src[i]) {
	            for (var idx in src[i][keyword]) {
	                key = src[i][keyword][idx][0];
	                val = src[i][keyword][idx][1];

	                if (_ret[key] != undefined)
	                    _ret[key] = _ret[key] + val;
					else
					    _ret[key] = val;
                }
			}
		}

		return _ret
	};

	var linear_keywords_array = function() {
	    var _ret = [];
	    keywords.forEach(function(_d) {
	        _ret = _ret.concat(_d);
	        // _d.forEach(function(s) {
	        // 	_ret.push(s.toLowerCase());
			// });
		});
	    return _ret;
	};

    var update_network = function(data) {
        associative_net.series[0].options.nodes = [];
        associative_net.series[0].layout.nodes.length = 0;
		associative_net.series[0].layout.links.length = 0;

	    associative_net.series[0].setData(data);

	    var curr_keywords = linear_keywords_array();
		var scores = fetch_network_score_from(ret);

	    var colors = Highcharts.getOptions().colors,
			i = 1;

	    associative_net.series[0].nodes.forEach(function (node) {
			if (curr_keywords.includes(node.id)) {
			    node.marker = {
			        radius: 30
				};
			    node.color = colors[i++]
			} else {
			    node.marker = {
			        radius: 50 * scores[node.id] < 20 ? 50 * scores[node.id] : 20
				};
			}
		});
		associative_net.series[0].redraw();

		/*
	    var colors = Highcharts.getOptions().colors,
				i = 0,
				nodes = {};
			// e.options.data.forEach(function (link) {
			// 	if (link[0] === 'Samsung') {
			// 	    console.log("??????????")
			// 		nodes['Proto Indo-European'] = {
			// 			id: 'Proto Indo-European',
			// 			marker: {
			// 				radius: 20
			// 			}
			// 		};
			// 		nodes[link[1]] = {
			// 			id: link[1],
			// 			marker: {
			// 				radius: 10
			// 			},
			// 			color: colors[i++]
			// 		};
			// 	} else if (nodes[link[0]] && nodes[link[0]].color) {
			// 		nodes[link[1]] = {
			// 			id: link[1],
			// 			color: nodes[link[0]].color
			// 		};
			// 	}
			// });

			e.options.nodes = Object.keys(nodes).map(function (id) {
				return nodes[id];
			});
	     */
    };

    var chart_update = function (_keywords) {
		var depth = 0;
        for (var i in depths_of_keyw) {
            if (depths_of_keyw[i].find(function(keyword){
                depth = parseInt(i);
                return true
			})) {
				break
			};
		}
		depth = depth + 1;
		if (ret[0] == undefined)
		    ret.push({});

		$.ajax({
		  url: 'http://localhost:30303/fetch/list',
		  type: "POST",
		  data: JSON.stringify({'keywords': _keywords }),
		  contentType:"application/json; charset=utf-8",
		  dataType:"json",
		  success: function (data) {
				_data = JSON.parse(data.data);
				denoms = JSON.parse(data.denoms);
				resp_data = [];

				_keywords.forEach(function(key) {
					ret[depth-1][key] = [];
				});

				_data.forEach(function(_d) {
				    if (ban_keywords.includes(_d.keyword))
				        return;

					if (depths_of_keyw[depth] == undefined)
						depths_of_keyw[depth] = [];
					depths_of_keyw[depth].push(_d.keyword)

					ret[depth-1][_d.search_word].push([_d.keyword, _d.val/denoms[_d.search_word]])
				});

			  update_network(fetch_network_data_from(ret))
		  }
		});

		//
		// for (key_idx in ll_keys) {
        //     $.getJSON('http://localhost:30303/fetch?k=' + ll_keys[key_idx], function (data) {
        //         _keyw = data.keyword
		// 		data = JSON.parse(data.data);
		//
		// 		resp_data = []
        //         src_total_val = 0;
        //         for (i in data) {
        //             if (depths_of_keyw[depth] == undefined)
        //                 depths_of_keyw[depth] = [];
        //             depths_of_keyw[depth].push(data[i].keyword)
		//
        //             src_total_val += data[i].val;
        //             resp_data.push([data[i].keyword, data[i].val]);
        //             // ret.push([keyword, data[i].keyword, data[i].val])
        //         }
		//
        //         for (var i in resp_data) {
        //             resp_data[i][1] = resp_data[i][1] / src_total_val
        //         }
        //         ret[depth - 1][_keyw] = resp_data;
		//
		// 		update_network(fetch_network_data_from(ret));
        //     });
        // }
	};

    var click_network_keyword = function (event) {
        if (event.srcElement.innerHTML == "")
            return;

        _kw = event.srcElement.innerHTML;
        var depth = -1;
        for (var i in depths_of_keyw) {
            if (depths_of_keyw[i].find(function(keyword){
                depth = parseInt(i);
                return true
			})) {
				break
			};
        }

		if(depth == -1)
		    return;

		if (keywords[depth] == undefined)
		    keywords[depth] = []

		keywords[depth].push(_kw);
        chart_update();
    };

	var associative_net = Highcharts.chart('asso_net', {
			chart: {
				type: 'networkgraph',
				height: '50%'
			},
			title: {
				text: 'Word Cluster'
			},
			subtitle: {
			  	text: "current searching: " + (keywords[keywords.length-1].join(", ")),
				style: {"fontSize": "14px"}
			},
			plotOptions: {
			    animation: {
                    duration: 100,
                },
				networkgraph: {
					keys: ['from', 'to'],
					layoutAlgorithm: {
						enableSimulation: false,
						friction: -0.9,
						gravitationalConstant: 0.1,
						integration: 'euler',
						maxIterations: 300
					}
				}
			},
			series: [{
				dataLabels: {
					enabled: true,
					linkFormat: ''
				},
				data: []
			}]
		});

    chart_update(keywords[keywords.length-1]);

    setInterval(function(){
        _scores = fetch_network_score_from(ret);
        sortable_scores = []
        for (var key in _scores)
            sortable_scores.push([key, _scores[key]])

		sortable_scores.sort(function(a, b){
		   return b[1] - a[1];
		});

        _keywords = [];
		_keywords.push(sortable_scores[0][0]);
		_keywords.push(sortable_scores[1][0]);
		_keywords.push(sortable_scores[2][0]);

		associative_net.setTitle(null, {"text": "current expanding to: " + _keywords.join(", ")});

        chart_update(keywords[keywords.length-1].concat(_keywords));
    }, 10000);

	var sentiment_ts_colors = ['#A469AB', '#9D9D91'];
	var sentiment_ts_index_each_keyw = {};

    var sentiment_ts_graph = Highcharts.chart('container3', {
		chart: {
			scrollablePlotArea: {
            	minWidth: 700
			}
		},
		title: {
			text: 'Area chart with negative values'
		},
		xAxis: {
            maxZoom: 20 * 1000,
			visible: false,
			min:0,
			max:10
		},
		yAxis: {
			minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Neg/Pos',
                margin: 10
            },
			min:-0.25,
			max:0.25,

		},
		credits: {
			enabled: false
		},
		series: [{
			name: 'A',
			data: [],
			color: sentiment_ts_colors[0]
		}, {
			name: 'B',
			data: [],
			color: sentiment_ts_colors[1]
		}],
		exporting: {
		    enabled: false
		}
	});

    function sentiment_ts_update_label() {
        _keywords = keywords[keywords.length - 1];
        series_cnt = 0
		_keywords.forEach(function(keyword){
	        sentiment_ts_graph.series[series_cnt].update({name:keyword}, false);
	        sentiment_ts_graph.redraw();
	        series_cnt++;
		});
	}

	function refresh_sentiment_ts_data() {
	    _keywords = keywords[keywords.length - 1];

		$.ajax({
			url: 'http://localhost:30303/sentiment/ts',
			type: "POST",
			data: JSON.stringify({'keywords': _keywords, 'ts_idx_each_keyw': sentiment_ts_index_each_keyw}),
			contentType:"application/json; charset=utf-8",
		  	dataType:"json",
			success: function(data) {
			    var series_cnt = 0;
				_data = JSON.parse(data.data);

				_keywords.forEach(function(keyword) {
					sentiment_data = _data[keyword];
					var series = sentiment_ts_graph.series[series_cnt];
					var data_cnt = 0;
					sentiment_data.forEach(function(sent_data) {
					    shift = sentiment_ts_graph.series[series_cnt].data.length >= 5;
					   	series.addPoint([data_cnt++, sent_data['val']], true, false)
						sentiment_ts_index_each_keyw[keyword] = sent_data['ts']
					});
					series_cnt++;
				});

				// call it again after one second
				setTimeout(refresh_sentiment_ts_data, 2000);
			},
			cache: false
		});
	}
	sentiment_ts_update_label();
	refresh_sentiment_ts_data();

	var timeout = 1000

	function fetch_tweet_data_periodically(keyword, timeout) {
		keyword_querystring = 'kw=' + keyword;

	    $.ajax({
			url: 'http://localhost:30303/fetch/tweet_table?'+keyword_querystring,
			type: "GET",
			success: function(data) {
			    _data = JSON.parse(data.data);
			    _data.forEach(function(mention) {
			        // apply data into html


				});
			    setTimeout(fetch_tweet_data_periodically, timeout);
			},
			cache: false
		});
	}

</script>